<h1 class="text-center text-primary mb-4">Best Library</h1>

<div class="container">
  <div class="card" style="background-color:rgb(55, 67, 82); color: white;">
    <div class="card-body text-center">
      <h5 class="card-title">Welcome to the Best Library</h5>
      <p class="card-text">This is the place where all the best books are available!</p>
      <!-- You can add more content or a list of books or features of the best library -->
    </div>
  </div>
</div>
